<section class="about-us pt-5">
  <mat-card class="mx-3 mat-elevation-z3 rounded-4">
    <mat-card-content class=" px-0 d-flex">
      <div class="image-area p-3">
        <img
          class="mat-elevation-z3"
          src="../../../../assets/images/mock-attorney.jpeg"
          alt=""
          srcset=""
        />
      </div>
      <div class="text-area">
        <h1 class="fw-bold opacity-75 text-start ml-1">{{ title }} </h1>
        <p class="text-justify lh-base  mt-3">{{ subtitle }}</p>
      </div>
    </mat-card-content>
    <mat-card-footer>
        <mat-divider></mat-divider>
      <div class="my-3">
        <app-btn-whatsapp></app-btn-whatsapp>
      </div>
    </mat-card-footer>
  </mat-card>
</section>
