.about-services {
  .mat-mdc-card-header {
    justify-content: center;
  }

  .text-justify {
    text-align: justify;
  }

  .mat-mdc-card-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }

  .box {
    display: flex;
    align-items: flex-start;
    min-height: 170px;
    min-width: 280px;
    color: black;
    background-color: whitesmoke;
    opacity: 75%;
    width: auto;
    height: auto;
    padding: 0;
    cursor: default;

    .bi-patch-check-fill  {
      color: #854628;
      margin: 1rem 0 0 1rem;
      font-size: 35px;
    }
    .box-contents {
      display: flex;
      flex-direction: column;
      flex: auto;
      align-items: flex-start;
      margin: 1rem;

      .box-subtitle, .box-title {
        max-width: 200px;
        text-align: start;
      }
    }
  }
}
