.about-services {
  .mat-mdc-card-header {
    justify-content: center;
  }

  .text-justify {
    text-align: justify;
  }

  .mat-mdc-card-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }

  .box {
    color: black;
    background-color: whitesmoke;
    opacity: 75%;
    width: auto;
    height: auto;
    padding: 0;
    cursor: default;

    .bi-patch-check-fill  {
      margin-left: 1rem;
      font-size: 35px;
    }
    .box-contents {
      display: flex;
      flex-direction: column;
      flex: auto;
      align-items: center;
      margin: 1rem;

    }
  }
}
