.hero {
    .text-justify {
        text-align: justify;
    }

    .logo {
        width: 70px;
        height: auto;
        border-radius: 4px;
    }

    .pic {
      margin-bottom: 1rem;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
}