<section class="services-area pt-5" >
  <mat-card class="mx-3 mat-elevation-z3 rounded rounded-4">
    <mat-card-header>
      <h2 class="fw-bold opacity-75">{{ title }}</h2>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="my-4 d-flex flex-wrap">
      <div *ngFor="let service of services" class="box-area">
        <div class="box mat-elevation-z1 " [ngStyle]="{ 'background-color': service.color }" (click)="navigateToSelectedInfo(service.text)">
          {{ service.text }}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
