.case-info {
  .text-justify {
    text-align: justify;
  }

  .logo {
    width: 150px;
    height: auto;
    border-radius: 4px;
    cursor: pointer;
  }

  .pic {
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
