<section class="case-info pt-5" [@fadeIn]>
  <mat-card class="mx-3 mat-elevation-z3 rounded-4">
    <mat-card-header>
      <img
        class="logo mat-elevation-z3"
        src="assets/images/logo.png"
        (click)="navigateToLandingPage()"
      />
    </mat-card-header>

    <div class="d-flex justify-content-center mt-3 mb-5">
      <div *ngFor="let _ of [1, 2, 3]">
        <div
          *ngIf="isLoading"
          class="spinner-grow text-secondary mx-1"
          role="status"
        ></div>
      </div>
    </div>

    <mat-card-content *ngIf="!isLoading" class="my-4 px-0">
      <h1 class="fw-bold opacity-75">{{ caseContents!.title }}</h1>

      <mat-divider></mat-divider>
      <h3 class="text-justify lh-base px-3 mt-5">
        {{ caseContents.subtitle }}
      </h3>

      <div *ngFor="let paragraph of caseContents!.paragraphs">
        <p class="text-justify px-3 py-2">{{ paragraph }}</p>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div *ngIf="!isLoading">
        <img class="pic mat-elevation-z3" [src]="caseContents!.imagePath" />
      </div>
      <div class="my-3" *ngIf="!isLoading">
        <app-btn-whatsapp></app-btn-whatsapp>
      </div>
    </mat-card-footer>
  </mat-card>
</section>
