html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    color: whitesmoke;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
  }